.formClass{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    background-color: rgb(167, 227, 120);
}

.formClass.entries {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    background-color: rgb(167, 227, 120);
}